{#
/**
 * Template for image hero in destination detail page.
 *
 */
#}
{% set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'clearfix',
'image-hero-destination',
'row',
] %}
{% set image_url %}
  {{ content }}
{% endset %}
<section{{ attributes.addClass(classes) }} style='background-image: url({{ image_url|striptags }})'>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
  {% endblock %}
</section>

