{#
/**
 * @file
 * This is a twig template for admin enquires module
 *
 */
#}
<div class="container">
  <h1>Detail Information</h1>
  <h2> Name :</h2>
  <h3> {{ name }} </h3>
  <h2> Email:</h2>
  <h3> {{ email }} </h3>
  <h2> Phone:</h2>
  <h3> {{ phone }} </h3>
  <h2> Inquiry: </h2>
  <h3> {{ inquiry }} </h3>
  <h2> Hotel: </h2>
  <h3> {{ hotel }} </h3>
</div>





